<nav class="blue-grey darken-2">
  <a href="#" class="brand-logo">
    <img src="assets/VGRLogo1.jpg" alt="Victory Garden Ranch Logo" class="circle responsive-img logo">
  </a>
  <ul class="right">
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <!-- <li><a routerLink="/events" routerLinkActive="active">Events</a></li> -->
    <li><a routerLink="/gallery" routerLinkActive="active">Gallery</a></li>
    <!-- <li><a routerLink="/vendors" routerLinkActive="active">Vendors</a></li> -->
    <li><a routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
