  <div class="row">
  <div class="col m12 indigo darken-2 text-center">
    <div class="row">
    <div class="col m12">
    <div class="row logo">
      <img src="assets/VGRLogo1.jpg" alt="Victory Garden Ranch Logo" class="col m2 offset-m5 circle">
    </div>
    <div class="row">
      <h3 class="center white-text light">Victory Garden Ranch</h3>
      <h4 class="center white-text light">veterans growing together.</h4>
    </div>
   </div>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col m3 card">
      <h5>Regular Store Hours</h5>
      <p><b>Monday-Friday </b></p>
      <p>9am-5pm</p>
      <p><b>Saturday </b></p>
      <p>9am-5pm</p>
      <p><b>Sunday </b></p>
      <p>9am-5pm</p>
      <br>
      <p><b>Store Phone</b></p>
      <p>(123) 555 1232</p>
    </div>
    <div class="col m9 card">
      <div class="card-image waves-effect waves-block waves-light">
       <img class="activator" src="assets/cabin_sample.jpg" alt="Victory Garden Ranch Logo">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><a class="btn activator"> Find Us </a> <span class="right">9 Address Lane Sharpsburg MD, 15432</span></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">9 Address Lane Sharpsburg MD, 15432<i class="material-icons">close</i></span>
        <p> click the link to follow to google maps</p>
        <a class="btn" href="https://www.google.com/maps/place/Address+Ln,+Selma,+AL+36703/@32.4265762,-86.9062093,17z/data=!3m1!4b1!4m5!3m4!1s0x888f020a26928a2f:0xdca5d2a9b85e982a!8m2!3d32.4265717!4d-86.9040206">9 Address Lane Sharpsburg MD, 15432</a>
      </div>
  </div>
  </div>
  <div class="row">
    <div  class="feature col m4">
      <div class="center">
        <i class="medium material-icons">add</i>
        <p>Locally grown products</p>
      </div>
    </div>
    <div  class="feature col m4">
      <div class="center">
        <i class="medium material-icons">add</i>
        <p>Community events</p>
      </div>
    </div>
    <div  class="feature col m4">
      <div class="center">
        <i class="medium material-icons">add</i>
        <p>Veteran support</p>
      </div>
    </div>
  </div>

